.dd-menu-items{
    width: 144px;
}

.dx-layout-menu{
    float: left;
    width: 100%;
}

.dx-layout-menu>div.dd-menu-items{
    margin-top: 0;
    width: 100%;
}

.dd-menu.dx_color_drop_menu .dd-menu-items{
    width: 360px;
}

.dd-menu.dx_channel_drop_menu .dd-menu-items{
    width: 120px;
}
