@font-face {
    font-family: 'AvenirLTStd';
    font-style: normal;
    font-weight: 400;
    src:
      local('AvenirLTStd'),
      local('AvenirLTStd-Book'),
      url(../fonts/AvenirLTStd-Book.woff) format('woff');
  }
  
@font-face {
    font-family: 'AvenirLTStd';
    font-style: normal;
    font-weight: 700;
    src:
      local('AvenirLTStd Heavy'),
      local('AvenirLTStd-Heavy'),
      url(../fonts/AvenirLTStd-Heavy.woff) format('woff');
  }
html,
body{
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F2F3F6;
    font-family: 'AvenirLTStd', sans-serif;
}

.dx_collapsible_panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dx_no_outline:focus{
    outline: none;
}

.dx_hover_btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.dx_flow{
    transition: opacity .2s linear;
}

.dx_show{
    display: block;
}

.dx_hidden{
    display: none;
}

.dx_opacity_visible{
    opacity: 1;
}

.dx_opacity_hidden{
    opacity: 0;
}

.dx_tool_tip{
    position: relative;
}
.dx_tool_tip_text{
    visibility: hidden;
    position: absolute;
    top: -27px;
    z-index: 1;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #ffffff;
}
.dx_tool_tip_text.dx_color_tip{
    width: 60px;
    left: -12px;
}
.dx_tool_tip_text.dx_bg_color_tip{
    width: 120px;
    left: -42px;
}
.dx_exp_view_mode .dx_tool_tip_text{
    width: 60px;
    left: -18px;
}
.dx_root_indicator .dx_tool_tip_text{
    width: 150px;
    top: -33px;
    left: -78px;
}
.dx_tool_bar_color:hover .dx_tool_tip_text,
.dx_tool_bar_bgcolor:hover .dx_tool_tip_text,
.dx_exp_view_mode:hover .dx_tool_tip_text,
.dx_root_indicator:hover .dx_tool_tip_text
{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.15s linear;
}

.dx_show_toolbar{
    display: block;
}

.dx_hidden_toolbar{
    display: none;
}

.dx_input:focus{
    outline: none;
}

.dx_card, .dx_card_bottom_bar, .dx_page{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.dx_arrow_up_down{
    transform: rotate(0deg);
    transition: transform .3s linear;
    transform-origin: center;
}
.dx_arrow_up_down.active_up{
    transform: rotate(180deg);
    transition: transform .3s linear;
    transform-origin: center;
}

.dx_scale_container{
    flex-shrink: 1;
    flex-basis: auto;
    transition: all 0.3s;
    flex-grow: 0.001;
}
.dx_scale_container.active_expand{
    flex-grow: 1;
}

.dx_editable_p:focus{
    /* outline: none; */
}

.dx_card_template_bottom_bar_menu>div.dd-menu-items{
    margin: 0 !important;
}
.dx_card_template_bottom_bar_menu>div.dd-menu-items{
    width: 90px;
}

.dx_flow_tab{
    transition: background-color .2s linear;
}

.dx_float_carousel_menu {
    transition: height .2s linear;
}

.dx_float_active_side_tab{
    transition: border-color .2s linear;
}

.dx_control_btn:hover svg{
    color: #000000 !important;
}

.dx_search_input::after{
    border-bottom: 2px solid #0176FF !important;
}

.dx_tab{
    transition: background-color 0.2s linear;
}

.dx_pwd_input>label[data-shrink="true"]{
    color: #0176FF !important;
}
.dx_pwd_input>div::after{
    border-bottom: 2px solid #0176FF !important;
}

.dx_channel_filter_menu>div.dd-menu-items{
    margin: 0 !important;
    width: 130px !important;
}
.dx_channel_filter_menu>div.dd-menu-items>ul{
    box-shadow: none !important;
    background: transparent !important;
}
.dx_channel_filter_menu>div.dd-menu-items>ul>div{
    background: #FFFFFF;
}

.dx_channel_type_filter_menu>div.dd-menu-items{
    margin: 0 !important;
    width: 156px !important;
}
.dx_channel_type_filter_menu>div.dd-menu-items>ul{
    box-shadow: none !important;
    background: transparent !important;
}
.dx_channel_type_filter_menu>div.dd-menu-items>ul>div{
    background: #FFFFFF;
}

.dx_glowing_btn{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
}
@keyframes glowing {
    0% { background-color: rgba(0, 0, 0, 0.4) }
    50% { background-color: rgba(0, 0, 0, 0.6) }
    100% { background-color: rgba(0, 0, 0, 0.4) }
}