@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Monoton|Raleway|Ubuntu');
/* default */
.ql-container{
    font-size: 16px;
}

/* font size */
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
    content: '12px' !important;
    font-size: 12px !important;
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="12px"]::before {
    content: '12px' !important;
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px' !important;
    font-size: 16px !important;
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="16px"]::before {
    content: '16px' !important;
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: '20px' !important;
    font-size: 20px !important;
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="20px"]::before {
    content: '20px' !important;
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px' !important;
    font-size: 24px !important;
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="24px"]::before {
    content: '24px' !important;
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
    content: '28px' !important;
    font-size: 28px !important;
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="28px"]::before {
    content: '28px' !important;
}

/* font family */
.ql-font-Open_Sans{
    font-family: 'Open Sans', sans-serif;
}
.ql-font-Roboto{
    font-family: 'Roboto', sans-serif;
}
.ql-font-Lato{
    font-family: 'Lato', sans-serif;
}
.ql-font-Raleway{
    font-family: 'Raleway', sans-serif;
}
.ql-font-Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.ql-font-Monoton{
    font-family: 'Monoton', cursive;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Open_Sans"]::before{
    content: 'Open Sans' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Open_Sans"]::before {
    content: 'Open Sans' !important;
}


.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Roboto"]::before{
    content: 'Roboto' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
    content: 'Roboto' !important;
}


.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Lato"]::before{
    content: 'Lato' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Lato"]::before {
    content: 'Lato' !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Raleway"]::before{
    content: 'Raleway' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before {
    content: 'Raleway' !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Ubuntu"]::before{
    content: 'Ubuntu' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Ubuntu"]::before {
    content: 'Ubuntu' !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active[data-value="Monoton"]::before{
    content: 'Monoton' !important;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Monoton"]::before {
    content: 'Monoton' !important;
}