.jss50.jss51{
    color: #2A75F6 !important;
}
.jss63{
    background-color: #2A75F6 !important;
}
button.jss46{
    text-transform: none !important;
}
.jss194:after{
    border-bottom-color: #2A75F6 !important;
}
.jss55{
    padding-bottom: 0 !important;
}
.jss56{
    font-size: 16px !important;
}

@media (min-width: 960px){
    .jss46 {
        min-width: 72px !important;
    }
}
