.dx-tab{
    width: 110px !important;
}
.dx-tab>span{
    margin-bottom: -12px;
}
.dx-tab[aria-selected="true"]{
    color: #2A75F6 !important;
}
.dx-tabs>div>div>div{
    justify-content: flex-start !important;
}
.dx-tabs>div>div>span{
    background-color: #2A75F6 !important;
}
.dx-tab>span>span{
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 0 !important;
}
.dx-tab>span>span>span{
    font-size: 12px !important;
}
@media (min-width: 960px){
    .dx-tab {
        min-width: 110px !important;
    }
    
}
