.dx-tab[aria-selected="true"]{
    color: #2A75F6 !important;
}
.dx-tabs>div>div>span{
    background-color: #2A75F6 !important;
}
button.dx-tab{
    text-transform: none !important;
}
.dx-tab>span>span{
    padding-bottom: 0 !important;
}
.dx-tab>span>span>span{
    font-size: 16px !important;
}

@media (min-width: 960px){
    .dx-tabs {
        min-width: 72px !important;
    }
}
