.custom-overlay {
    /* background: rgba(36, 123, 160, 0.7); */
}
.custom-modal {
    width: 645px;
    height: 420px;
}
.dx_overlay {

}
.dx_modal{
    padding: 0;
    width: 480px;
    height: 210px;
    border-radius: 12px;
}