.custom-overlay {
    /* background: rgba(36, 123, 160, 0.7); */
}
.custom-modal {
    width: 645px;
    height: 420px;
}
.custom-InviteModal {
    width: 1180px;
    height: 826px;
    padding:0;
}
.custom-StreamModal{
    width: 645px;
    height: 420px;
    padding:0;
}
.dx_overlay {

}
.dx_modal{
    padding: 0;
    width: 480px;
    height: 210px;
    border-radius: 12px;
}
.dx_modal button{
    cursor: pointer;
    outline: none;
}
